<div class="container">
<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Task</mat-label>
    <input placeholder="Learn Spring Security" #task type="text" matInput [formControl]="taskControlForm" >
    <mat-error *ngIf="taskControlForm.hasError('text') && !taskControlForm.hasError('required')">
      Please enter a valid task
    </mat-error>
  </mat-form-field>
  <button mat-raised-button color="warn" class="button" (click)="addTask(task.value)">Add</button>
</form>
<p style="text-align: right;">
  There are {{tasks.length}} todos
</p>
<mat-list class="clearfix list" *ngFor="let task of tasks; let i = index">
  <mat-list-item style="color: gray;" role="listitem">{{task}}</mat-list-item>
  <button mat-raised-button color="primary" (click)="removeTask(i)">Completed</button>
</mat-list>
</div>
